@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    align-content: center;
    background-color: #DAD5AA;
    overflow: hidden;
}

#calculator-body {
    height: 312.5px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
    background-color: #3B4346;
    user-select: none;
}

#display {
    position: relative;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #21100E;
    margin-bottom: 5px;
}

#display-text {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 18px;
    color: #ff0000;
}

button {
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    line-height: 1.6;
}

button:hover {
    filter: brightness(90%);
}

#btns-last-row {
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: 5px;
}

.num, #decimal-btn {
    background-color: #ffffff;
}

.op {
    background-color: #DAD5AA;
}

#eq-btn {
    background-color: #FFA355;
}

#clear-btn {
    background-color: #DAD5AA;
}

#del-btn {
    background-color: #DAD5AA;
}

#smiley {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 1;
    font-size: 32px;
}

footer {
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

a:link, a:visited {
    color: black;
}

@media only screen and (min-width: 600px) {
    /* For tablets and desktop */
    #calculator-body {
        height: 500px;
        width: 400px;
        gap: 10px;
        padding: 20px;
        border-radius: 8px;
    }

    #display {
        padding: 20px;
        border-radius: 8px;
    }

    #display-text {
        bottom: 10px;
        right: 10px;
        font-size: 30px;
    }

    button {
        border-radius: 8px;
        font-size: 35px;
    }

    #btns-last-row {
        gap: 10px;
    }

    #smiley {
        font-size: 48px;
    }
}