@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    align-content: center;
    background-color: #DAD5AA;
}

#calculator-body {
    height: 450px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: #3B4346;
}

#display {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 5px;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #21100E;
}

#display-text {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 30px;
    color: #ff0000;
}

button {
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
}

#btns-last-row {
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: 5px;
}

.num, #decimal-btn {
    background-color: #ffffff;
}

.op {
    background-color: #DAD5AA;
}

#eq-btn {
    background-color: #FFA355;
}

#clear-btn {
    background-color: #DAD5AA;
}

#del-btn {
    background-color: #DAD5AA;
}